<p id="notice"><%= notice %></p>

<h1><%= t('pictures.Pictures') %></h1>
<%= link_to 'Favorite Pictures', favorites_path %>
<table>
  <thead>
    <tr>
      <th><%= t('pictures.Image') %></th>
      <th><%= t('pictures.Comment') %></th>
      <th><%= t('pictures.User') %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pictures.each do |picture| %>
      <tr>
        <% if picture.image.url != nil %>
          <td><%= image_tag picture.image.url , class: "index-img" %></td>
        <% end %>
        <td><%= picture.comment %></td>
        <td><%= picture.user&.name %></td>
        <td><%= link_to 'Show', picture %></td>
        <% if current_user.id == picture.user_id %>
          <td><%= link_to 'Edit', edit_picture_path(picture) %></td>
          <td><%= link_to 'Destroy', picture, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Picture', new_picture_path %>
